*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.contaniner{
    width: 100%;
    height: 100vh;
    background:#f1faee ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.calculater{
    background:  #264653;
    padding: 20px;
    border-radius: 10px;
}

.calculater form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #e76f51;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 145px;
}


form input.operator{
    color: #f1faee;
}


@media only screen and (max-width: 600px) {
    form .calculater{
        width: 80%;
        height: 52vh;
        padding-left: -1000px;
    }

    .calculater form input{
        border: 0;
        outline: 0;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
        background: transparent;
        font-size: 18px;
        color: #e76f51;
        cursor: pointer;
        margin: 10px;
        padding-right: -10px;
    }

    form input.equal{
        width: 105px;
    }

    form input.operator{
        color: #f1faee;
    }
    
    }
